 body {
  font-family: 'Kiwi Maru', serif;
 }
 
.logo {
  width: 45px;
  height: 50px;
}

.text-primary {
 width: 450px;
 text-align: center;
}
/* Barra de navegacion */

.navbar {
  padding: 1rem;
  background-color: rgb(192, 227, 241);
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}

/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
font-size: 2rem;
font-family: 'Roboto Mono', monospace;
color: rgb(253, 252, 252);
}

.seccion-oscura {
  background-color: #b8b8da;
  background-image: url(https://cdn3.iconfinder.com/data/icons/work-education-professions/1000/workspace___child_girl_woman_computer_monitor_desk_chair-512.png);
  font-family: 'Roboto Mono', monospace;
  background-repeat: no-repeat;
  background-position: right;
}

.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-titulo {
  font-size: 3rem;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  line-height: 100px;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
  margin-bottom: 30px;
}

.seccion-texto1 {
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  line-height: 25px;
}

.seccion-texto2 {
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  line-height: 0px;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url(https://i.pinimg.com/564x/d2/51/c9/d251c98332d8b7cf26eab6b38239ed62.jpg);
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador { 
  height: 210px;
  width: 205px;
  border-radius: 1000px;
  margin-bottom: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

/* Sobre mi */

.sobre-mi {
  height: 450px;
  padding: 1px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  margin-right: 550px;
  margin-bottom: 30px;
}

/* Experiencia */

.experiencia {
  padding:40px 25px 60px 80px;
}

.columna {
  width: 350px;
  height: 450px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #4e498f4d;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
  border-width: 10px;
  margin: 0 5px;
}

.experiencia .columna:hover {
  color: white;
  background-color: #2e2d2d;
}

.experiencia i {
  font-size: 2.5rem;
  color: #f4f5f4;
  background-color: #943a94;
  padding: 8px 19px;
  border-radius: 50%;
  margin-bottom: 20px;
}


.experiencia-titulo {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
  padding: 40px;
  background-color: rgb(201, 225, 247);
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 40px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 50px;
  margin-left: 255px;

}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}


/* Testimonios */

.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
  background-color: #ecf1d2;
  border-radius: 100px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: #b8b8da;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
  border-radius: 5px;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 500px;
  background-color: #0a0a23;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
  color: #fbfbff;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

